#header{
	width: 92%;
}

#ch h2{
	margin: 0px 20px 0px 0px; 
	padding: 0px 0px 0px 0px;
	display: inline;
}

#content{
	float: left;
	position: relative;
	padding-left: 40px;
	width: 45%;
	height: 1250px;
}

#ptext{
	color:#B0ABAA;
	font-size:22px;
	display: inline;
}

#pform{
	color:#B0ABAA;
	font-size: 19px;
}

#sidebar{
	clear: right;
}

#footer{
	position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0px;
    width: 100%;
    left: 0px;
    background: rgba(166, 166, 166, 0.85);
}

#footer h6{
	color: white;
}

.imjc{
	border-radius: 50%;
}

.mtable{
	border-style: dashed;
	width:150%;
	border-collapse:collapse; 
	text-align:center;
}


form{
	margin-top: 20px;
	width: 30%;
	border-left: 3px solid #000;
  	border-right: 3px solid #FFF;
}

caption{
	font-size: 25px;
	text-align: left;
	padding-left: 30px;
}

ol{
	width: 50%;
	clear: left;
}

tr{
	font-size: 20px;
}

body{
	background-color: rgba(165, 196, 240,0.35);
}

h1,h2{
	color: #143258;
}

h3{
	font-size: 20px;
	color: #143258;
}

h4,h5{
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px;
	font-size: 17px;
	color: #143258;
}

h6{
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px;
	font-size: 20px;
	color: #143258;
}